.header.background-image {
  background: url(../Data/Fotos/Sonja-1.jpg), rgba(5, 30, 50, 0.8);
  background-size: cover;
  background-position: right top;
  width: 100%;
  background-blend-mode: overlay;
  /* background: linear-gradient(0deg, rgba(5, 30, 50, 0.3), rgba(5, 30, 50, 0.3)), url(../Data/Fotos/Sonja-1.jpg); */
  /* box-shadow:inset 0 0 0 2000px rgba(255, 0, 150, 0.3); */
}
